[DEFAULT]
# Override default Fail2Ban parameters
bantime  = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}

[sshd]
enabled = true
port    = ssh
logpath = /var/log/auth.log